<nav class="nav">
  <div class="container">
      <div class="logo">
          <a href="D:\Programs\SoftUni JS\Js Applications\Angular.js\Eco-Web\Eco-Web\src\assets\background.jpg"></a>
      </div>
      <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
              <li><a routerLink="home">Home</a></li>
              <li><a routerLink="login">Login</a></li>
              <li><a routerLink="register">Register</a></li>
          </ul>
      </div>
      <span class="navTrigger">
          <i></i>
          <i></i>
          <i></i>
      </span>
  </div>
</nav>
